<html>
	<head>
		<title>Colour picker</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>Colour Lover Colour Palettes</h1>
					<% debugger %>
					<% if palette_array.any? %>
						<% palette_array.each_with_index do |palette, index| %>

						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</body>
</html>